* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

/* header */

    /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #cacaca;
            padding: 2rem;
            border-radius: 50px;
            margin: 1%;
            margin-top: 1.5%;
        }

        .logo img{
            width: 140px;
            border-radius: 15px;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 5rem;
        }

        .nav-links li a {
            color: #007acc;
            text-decoration: none;
            font-size: 1.5rem;
            transition: color 0.3s ease;
        }

        .nav-links li a:hover {
            color: #00aaff;
            text-decoration: underline 0.3s ease;
        }

        .cta .btn {
            background-color: #00aaff;
            color: #fff;
            padding: 0.5rem 1rem;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .cta .btn:hover {
            background-color: #007acc;
        }
