@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

/* header */

    /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #cacaca;
            padding: 2rem;
            border-radius: 50px;
            margin: 1%;
            margin-top: 1.5%;
        }

        .logo img{
            width: 140px;
            border-radius: 15px;
        }

        .nav-links {
            list-style: none;
            display: flex;
            gap: 5rem;
        }

        .nav-links li a {
            color: #007acc;
            text-decoration: none;
            font-size: 1.5rem;
            transition: color 0.3s ease;
        }

        .nav-links li a:hover {
            color: #00aaff;
            text-decoration: underline 0.3s ease;
        }

        .cta .btn {
            background-color: #00aaff;
            color: #fff;
            padding: 0.5rem 1rem;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .cta .btn:hover {
            background-color: #007acc;
        }

/* Main */

   

/* page contact */
    .mailto-RIG{
        color: #007acc;
    }
    
    .mailto-RIG:hover{
        color: #00aaff;
        text-decoration: none;
    }

    .text-RIG {
        padding-left: 80px;
        padding-top: 50px;
        text-align: left;
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    
    }
    .textarea-RIG {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 7px;
        padding: 11px;
        border: none;
        width: 500px;
    }
    
    .textarea-RIG:hover {
        background-color: #d6d6d6;
        padding: 11px;
        border-radius: 11px;

    }
    .message-text-RIG{
        display: flex;
        flex-direction: row;
    
    }
    .btn-RIG {
        background-color: #00aaff;
        padding: 20px;
        border-radius: 11px;
        border: none;
    
    }
    .btn-RIG:hover {
        background-color: #007acc;
        cursor: pointer;
    }

    /* formulaire pour contacter */

        .contact form {
            display: flex;
            flex-direction: column;
            max-width: 400px;
            margin-left: 0;
            
        }
        .contact label {
            margin: 0.5rem 0 0.25rem;
        }

        .contact input, .contact textarea {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .contact button {
            padding: 0.75rem;
            background-color: #00aaff;
            color: white;
            border: none;
            border-radius: 5px;
            margin-top: 1rem;
        }


/* page recrutement */

        


        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            
        }

        .menu li {
            position: relative; /* Nécessaire pour positionner le contenu déroulant */
            
        }

        .menu li a {
            color: #5e5e5e;
            text-decoration: none;
            padding: 10px 20px;
            display: block;
            
        }

    /* Style pour le lien quand la souris le survole */
        .menu li a:hover {
            background-color: #575757;
            
        }

    /* Style pour le dropdown */
        .dropdown-content {
            display: none; /* Masquer le menu déroulant par défaut */
            position: absolute;
            background-color: #cacaca;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            list-style-type: none;
            padding: 0;
            margin: 0;
            border-radius: 10px;
            
        }

        /* Style des liens dans le menu déroulant */
            .dropdown-content li a {
            color: white;
            padding: 10px 16px;
            text-decoration: none;
            display: block;
            
            }

        /* Changer la couleur lors du survol dans le menu déroulant */
            .dropdown-content li a:hover {
            background-color: #5e5e5e;
            border-radius: 10px;
            }

        /* Afficher le menu déroulant quand la souris survole le bouton */
            .dropdown:hover .dropdown-content {
            display: block;
            transition: 10s ease-in;
            
            }

    /* alignement text  des sections */
            
        #histoire-section{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
        }

            .image-vintage{
                width: fit-content;
                margin: 0 7%;
                border-radius: 10px;
            }

        #etudiants-section{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            margin: 6% 0;
        }

            .points{
                margin: 0 5%;
            }
        #services-section{
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-decoration: none;
            margin: 6% 0%;
        }
            .item-coach{
                margin: 3% 0;
            }
            .text-left{
                margin: 0 4%;
            }

        #alternance-section{
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin: 6% 0;
        }

        /* exemple Mcdo */

        .image-left{
            width: 150px; /* Largeur de l'image */
            height: auto; /* Garde le ratio de l'image */
            margin-right: 20px; /* Espace entre l'image et le texte */
            border-radius: 10px;
           
        }
        
        .liste-coach{
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-decoration: none;
            margin: 2% 5%;
        }

    
        .elem-right h2{
            margin-bottom: 25px;
        }



        

/* button remonter vers le haut */
    #topButton {
        display: none; /* caché par défaut */
        position: fixed; /* reste visible quand tu scrolles */
        bottom: 20px;
        right: 20px;
        z-index: 99;
        border: none;
        background-color: #00bfa5;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
    }
    
    #topButton:hover {
        background-color: #009e87;
    }
    .arrowtop{

        width: 30px;
    }



/* page register */
    main.register{

        display: flex;
        justify-content: center;  
        align-items: center;    
        height: 100vh;
    }


    div.container {
        background-color: #fff;
        padding: 30px;
        box-shadow: 0px 0px 15px -5px #000000;
        border-radius: 5px;  
        display: flexbox;
        justify-content: center;
        
    }
    h1.title {
        text-transform: uppercase;
        font-size: 28px;
        margin-bottom: 15px;
        font-weight: 600;
        font-family: Poppins, sans-serif;
    }
    
    form.register-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    div.field {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    
    div.field label {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        font-family: Poppins, sans-serif;
    }
    
    div.field input {
        background-color: #bbb;
        border: none;
        width: 300px;
    }
    
    button.register-btn {
        background-color: blue;
        border-radius: 5px;
        border: none;
        color: white;
        width: fit-content;
        font-size: 10px;
        padding: 5px 10px;
        font-weight: 600;
        font-family: Poppins, sans-serif;
    
        margin-top: 5px;
    }
    
    button.register-btn:hover {
        cursor: pointer;
        background-color: rgb(96, 96, 255);
    }

/* footer */

    footer{

        background-color: #333;
        padding: 2%;
        text-align: center;
    }

    .copyright{
        color: white;
    }
    footer a {
        color: #007acc;
        text-decoration: none;
    }
    
    footer a:hover {
        color: #00aaff;
        text-decoration: underline;
    }
    

    .social-media{
        width:30px ;
        margin: 5px;
    }


    





    
